@font-face {
    font-family: cute;
    src: url(../font/cute_smile/CuteSmileDemoRegular.ttf)
}
@font-face {
    font-family: signature;
    src: url(../font/photograph_signature/Photograph\ Signature.ttf);
}
@font-face {
    font-family: soda;
    src: url(../font/soda_land/Soda\ Land\ Free\ Version.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
}
/* menu nav
nav{
    display: flex;
    background-color: transparent;
    justify-content: space-around;
    height: 50px;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    width: 20%;
    justify-content: space-between;
}

nav ul li a{
    text-decoration: none;
} */
.section, .footer {
    margin: auto 20px;
}
.navbar.blur{
    backdrop-filter: blur(5px);
        transform: translateY(-20px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: 75px;
}
.nav-item a{
    color: #95B2FF !important;
}
.nav-item a:hover{
    color: pink !important;
}
p, a, h1, h2, h3, h4, h5 {
    color: #95B2FF;
    font-family: cute;
}
label, .footer-text {
    color: #000;
    font-family: cute;
}
.font-size-20{
    font-size: 20px;
    text-align: justify;
}
.font-size-50{
    font-size: 50px;
    max-width: 20%;
    top: 30%;
    left: 5%;
}
/* images */
.leader-img {
    border-radius: 20px;
    width: 25%;
}
.line-img {
    width: 20%;
    margin-right: 25px;
}
.gap-1 {
    gap: 3rem !important;
}
.leader-img:hover, .line-img:hover {
    transform: scale(1.1);
    cursor: pointer; 
}
.carousel>img{
    width: 100%;
}
.quotes>img{
    width: 100%;
    height: 500px;
}
.font{
    font-family: soda;
}
.font-color{
    color: black;
}
/* producer */
.p-top-30{
    padding-top: 40px;
}
.font-size{
    font-size: 22px;
    padding-top: 30px;
}
footer{
    background-color: #95B2FF;
}
.btn-footer, input, textarea{
    background-color: #F7CAC9;
}
/* button */
button {
  text-decoration: none;
  display: inline-block;
  padding: 8px 18px 12px 18px;
  border: none;
  display: flex;
  align-items: center;
}
button:hover {
  transform: scale(1);
  cursor: pointer;
  border: 1px solid #c5b9cd;
  background-color: transparent;
}
.slider-btn {
    top: 250px;
}
.next, .previous {
  background-color: #92a8d1;
  color: white;
}
.round {
  border-radius: 50%;
}
.link-color:hover{
    color: pink;
}
.link-color{
    color: white;
}

/* text image */
.image-container {
  position: relative;
  display: inline-block;
}
.caption {
  position: absolute;
  background-color: #000000a1;
  width: 312px;
  top: 352px;
  left: 152.5px;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 0 0 20px 20px;
}
.align-text{
    text-align: center;
}
.image-container:hover .caption {
  opacity: 1;
}

/* responsif */
@media only screen and (max-width: 992px) {
    .mobile-navbar {
        display: flex;
        justify-content: end;
    }    
    #navbarNav {
        background-color: #0000008a;
    }
    .container-fluid {
        padding: 0px;
    }
    .nav-link{
        margin: 30px;
    }
}
@media only screen and (min-width: 993px) {
    .navbar-container {
        margin: auto 50px;
    }    
}
@media only screen and (max-width: 500px) {
    .line-img {
        width: 20%;
        margin-right: 5px;
    }    
}
@media screen and (min-width: 320px) {
    .font-size{
        font-size: 10px;
        padding-top: 15px;
    }
    .p-top-30{
        font-size: 15px;
    }
    .carousel-control-prev{
    top: 40px;
    width: 35px;
    height: 35px;
    }
    .carousel-control-next{
    top: 40px;
    width: 35px;
    height: 35px;
    }
    .carousel-control-prev-icon{
    width: 20px;
    height: 20px;
    }
    .carousel-control-next-icon{
    width: 20px;
    height: 20px;
    }
}
@media screen and (min-width: 400px) {
        .carousel-control-prev{
    top: 70px;
    width: 35px;
    height: 35px;
    }
    .carousel-control-next{
    top: 70px;
    width: 35px;
    height: 35px;
    }

}
@media screen and (min-width: 500px) {
    .p-top-30{
        font-size: 20px;
    }
    .carousel-control-prev{
    top: 90px;
    width: 40px;
    height: 40px;
    }
    .carousel-control-next{
    top: 90px;
    width: 40px;
    height: 40px;
    }
    .carousel-control-prev-icon{
    width: 30px;
    height: 30px;
    }
    .carousel-control-next-icon{
    width: 30px;
    height: 30px;
    }
}
@media screen and (min-width: 600px) {
    .font-size{
        font-size: 15px;
        padding-top: 20px;
    }
    .p-top-30{
        font-size: 25px;
    }
    .carousel-control-prev{
    top: 100px;
    width: 50px;
    height: 50px;
    }
    .carousel-control-next{
    top: 100px;
    width: 50px;
    height: 50px;
    }
}
@media screen and (min-width: 760px) {
    .font-size{
        font-size: 15px;
        padding-top: 25px;
    }
    .p-top-30{
        font-size: 30px;
    }
    .carousel-control-prev{
    top: 100px;
    width: 60px;
    height: 60px;
    }
    .carousel-control-next{
    top: 100px;
    width: 60px;
    height: 60px;
    }
    .carousel-control-prev-icon{
    width: 35px;
    height: 35px;
    }
    .carousel-control-next-icon{
    width: 35px;
    height: 35px;
    }
}
@media screen and (min-width: 860px) {
    .font-size{
        font-size: 15px;
        padding-top: 30px;
    }
    .p-top-30{
        font-size: 35px;
    }
    .carousel-control-prev{
    top: 150px;
    }
    .carousel-control-next{
    top: 150px;
    }
}
@media screen and (min-width: 950px) {
    .font-size{
        font-size: 18px;
    }
    .p-top-30{
        font-size: 35px;
    }
    .carousel-control-prev{
    top: 200px;
    }
    .carousel-control-next{
    top: 200px;
    }
}
@media screen and (min-width: 1000px) {
    .font-size{
        font-size: 23px;
        padding-top: 35px;
    }
    .p-top-30{
        font-size: 40px;
    }
    .carousel-control-prev{
    top: 230px;
    width: 70px;
    height: 70px;
    }
    .carousel-control-next{
    top: 230px;
    width: 70px;
    height: 70px;
    }
    .carousel-control-prev-icon{
    width: 50px;
    height: 50px;
    }
    .carousel-control-next-icon{
    width: 50px;
    height: 50px;
    }
}